@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap");
section .mainPage {
  text-align: left;
  align-items: left;
}

#map {
  width: 100%;
  height: 90vh;
}

.title {
  padding: 1em;
}

.main-title {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #2c292b;
  text-align: left;
}
.sub-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}
.card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  color: #2c292b;
  text-align: left;
  margin-left: 1.6em;
  margin-top: 1em;
  color: rgb(58, 58, 58);
}

.card {
  background-color: rgb(246, 246, 252);
  height: 30vh;
  padding: 0.5em;
  margin: 0.5em;
}
.container-row {
  display: flex;
  height: 100%;
}
.row-one {
  width: 55%;
  height: 100%;
}
.row-two {
  width: 45%;
  height: 100%;
}
.image {
  height: 100%;
  width: 100%;
}
.wrapper {
  display: flex;
}
.description {
  text-align: left;
  margin-left: 2.6em;
  font-weight: 400;
}
.learnmore {
  text-decoration: none;
  border: 1px dashed black;
  width: 20%;
  padding: 0.7em;
  text-align: center;
}
.no-decoration {
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}
.list {
  text-align: left;
  margin-left: 2em;
  font-size: 1.3em;
}
.card-half {
  width: 50%;
  height: 100%;
}
.container-half {
  display: flex;
  height: 100%;
}
.card-half-left {
  flex: 50%;
  background-color: rgb(246, 246, 252);
  padding: 1em;
}

.card-half-right {
  flex: 50%;
  background-color: rgb(246, 246, 252);
  padding: 1em;
  margin-left: 1em;
}

.underlined {
  text-decoration: underline;
  color: rgb(58, 58, 58);
}
.card-two {
  height: 30vh;
  padding: 0.5em;
  margin: 0.5em;
}

.details {
  text-align: left;
}
.left {
  text-align: left;
}
.half {
  width: 50%;
}

.no-bullet {
  list-style-type: none;
}

.row {
  width: 49%;
}

.secondrow {
  width: 50%;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.content-main {
  text-align: center;
  align-items: center;
}

.charger {
  background-image: url("https://www.clipartmax.com/png/middle/470-4704466_ev-charging-on-campus-electric-vehicle-charging-station-icon.png");
}

.EVselectormenu {
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  color: #2c292b;
  text-align: left;
}

.EVselectortitle {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: #2c292b;
  text-align: left;
}
.center-container {
  width: 80%;
}

.long {
  margin-top: 15%;
}
.short {
  margin-top: 5%;
}

.medium {
  margin-top: 10%;
}

.learnmore-right {
  text-decoration: underline;
  width: 30%;
  padding: 0.7em;
  text-align: center;
  margin-left: 70%;
  color: black;
  font-size: 1.3em;
}
.charger {
  width: 40%;
}

.detailsofmap {
  width: 400px;
  height: 320px;
  background-color: white;
  opacity: 0.9;
  border: 1px solid black;
  z-index: 1000;
  margin-top: -20.5em;
  margin-left: 0.5em;
  position: absolute;
  padding-left: 1.5em;
}

.logosolarfarm {
  height: 60px;
  width: 60px;
}

.icons {
  float: left;
  display: inline;
  margin-right: 0.5em;
  margin-top: 1em;
  margin-left: 1em;
}

.buttons {
  display: inline-block;
}
.break {
  width: 150px;
  height: 150px;
}

.navbarcontrol {
  width: 100%;
  height: 100px;
  /* border: 1px solid darkgray; */
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1em;
}
.holder {
  height: 100%;
  background-color: white;
  border: 1px dashed darkgray;
  display: flex;
}

.half {
  flex: 30%;
  border-right: 1px solid darkgray;
  align-items: center;
  background-image: url("https://cdn11.bigcommerce.com/s-i7i23daso6/images/stencil/1280x1280/products/12849/17851/Miscanthus_sinensis_Morning_Light_0013588__14547.1623965865.jpg?c=1");
  background-size: cover;
}
.halfmaze {
  flex: 30%;
  border-right: 1px solid darkgray;
  align-items: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8xCRtZYfH-1VZpTCuMMGpnwqJiTM1womGqg&usqp=CAU");
  background-size: cover;
}
.halfcattail {
  flex: 30%;
  border-right: 1px solid darkgray;
  align-items: center;
  background-image: url("https://www.gardeningknowhow.com/wp-content/uploads/2020/11/red-bulrush.jpg");
  background-size: cover;
}
.halfcattail {
  flex: 30%;
  border-right: 1px solid darkgray;
  align-items: center;
  background-image: url("https://www.gardeningknowhow.com/wp-content/uploads/2020/11/red-bulrush.jpg");
  background-size: cover;
}

.halfreed {
  flex: 30%;
  border-right: 1px solid darkgray;
  align-items: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEB3kIBoK_y_e3pTvmS3i6L_xs0vlZ9_Bcag&usqp=CAU");
  background-size: cover;
}
.halftwo {
  flex: 70%;
}

.controlimage {
  height: 70px;
}

.buttonscontrol {
  width: 100%;
  height: 50%;
}
.hiddeninput {
  display: none;
}
